
.acc_topnav {
    background-color: #506392;
    overflow: hidden;
    color:white;
    width: 100%;
    padding: 0px 40px;
}
h1{text-align: center;}
.income-header
{
    text-align: center;
    border: 3px black;
    /*box-sizing: border-box;*/
    padding: 20px 40px;
    background-color: #9FC1CC;
    width: 100%;
    /*position: absolute;*/
}

.income-footer
{
    text-align: center;
    border: 3px black;
    /*box-sizing: border-box;*/
    padding: 20px 40px;
    background-color: #9FC1CC;
    width: 100%;
    /*position: absolute;*/
}
.acc_container{
    width: 45%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(4%);
}
input[type=password] {
    width:100px;
padding: 12px 20px;
margin: 10px 10px;
display: inline-block;
/*border: 3px solid #ccc;
 box-sizing: border-box; */
-moz-border-radius: 20px;
 /*border-radius: 20px;*/}

.inc_salary
{
width:200px;
padding: 12px 20px;
margin: 10px 10px;
display: inline-block;
/*border: 3px solid #ccc;
 box-sizing: border-box; */
-moz-border-radius: 20px;
 /*border-radius: 20px;*/}
 
 .inc_name
{
width:200px;
padding: 12px 20px;
margin: 10px 10px;
display: inline-block;
/*border: 3px solid #ccc;
 box-sizing: border-box; */
-moz-border-radius: 20px;
 /*border-radius: 20px;*/
}
.inc_type
{
width:200px;
padding: 12px 20px;
margin: 10px 10px;
margin-top: 10px;

}

.inc_tan 
{
width:200px;
padding: 12px 20px;
margin: 10px 10px;
display: inline-block;
/*border: 3px solid #ccc;
 box-sizing: border-box; */
-moz-border-radius: 20px;
 /*border-radius: 20px;*/
 }

 .inc_pan
{
  width:200px;
padding: 12px 20px;
margin-top: 50px;
margin: 10px 10px;
display: inline-block;
/*border: 3px solid #ccc;
 box-sizing: border-box; */
-moz-border-radius: 20px;
 /*border-radius: 20px;*/  
}
.inc_ded
{
width:200px;
padding: 12px 20px;
margin: 10px 10px;
display: inline-block;
/*border: 3px solid #ccc;
 box-sizing: border-box; */
-moz-border-radius: 20px;
 /*border-radius: 20px;*/
 }


 button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    align-self: center;
}