<div class="container">
	<div class="form-group">
		<input type="text" name="cardholdername" placeholder="Enter name" class="bankdetails_cardholdername">
		<input type="number" name="Accountno" placeholder="Enter Accountno" class="bankdetails_accountno">
		<input type="text" name="Bank name" placeholder="Enter Bank name" class="bankdetails_bankname">
		<input type="number" name="Debit/credit card number" placeholder="Enter card number" class="bankdetails_cardno">
		<input type="number" name="cardcvv" placeholder="Enter Cvv code" class="bankdetails_cvv">
		<input type="text" name="ifsc code" placeholder="Enter IFSC code" class="bankdetails_ifsccode">
		<input type="number" name="expiry year" placeholder="Enter Expiry year" class="bankdetails_expiryyear">
		<input type="number" name="expiry month" placeholder="Enter expiry month" class="bankdetails_expirymonth">
		<button class="btn btn-primary bankdetails_submit" ng-click="submitBankDetails()">Submit</button>
	</div>
</div>