<div class="elc_container">
	<div class="elc_topnav" id="myTopnav">
	  <h1>Electricity Bill</h1>
	</div>
	<div class="elc_inp_area">
		<label><b>Electrical Section: </b></label><br>
	    <input type="text" placeholder="Enter your Electrical Section" name="Section" required><br><br>
	    <label><b>Consumer Number:</b></label><br>
	    <input type="text" placeholder="Enter your consumer number" name="cno" required><br><br>
	    <label><b>Bill Number:</b></label><br>
	    <input type="text" placeholder="Enter your Bill number" name="bno" required><br><br>
	    <button type="submit" ng-href="/#!/water/bill">Pay Bill</button><br>
	</div>
</div>