<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta charset="utf-8">
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css"> 
    <title>uniportal</title>
    <link rel="stylesheet" type="text/css" href="main.css">
   
    <style>                                          
@media only screen and (max-width: 500px) 
{                                               
    body 
    {
        background-color:lightblue;
    }
}
</style>
    </head>
    
    <body>
    <div class="container">
       <div class= "intro" >
         <div class="col-mod-12 text-center">
            <h1> UNIPORTAL</h1>
         </div> 
       </div>
       <div class="login">
         <form>
            <div class="name">
                     <h4>FIRST NAME</h4>
                    <input type="text" first name="feedback"> <br> <br>
                    <h4>LAST NAME</h4>
                    <input type="text" last name="feedback"> <br> <br>
            </div>
            <div class="lowerportion">
             <div class="details">
             
                     <h4>GENDER</h4>
                    <input type="radio" name="gender" value="male">MALE <br>
                    <input type="radio" name="gender" value="female">FEMALE<br>
            </div>    
              
            <div class="user">
                <h4>EMAIL </h4>
                <input type="text" placeholder="EMAIL" name="uname" required>
            </div>
            <div class="pass">
                <h4>PASSWORD</h4>
                <input type="password" placeholder="Enter Password" name="psw" required>
               
             </div>
 
             
             
             
            
                     <div class="col-sm-6">
                         <div class="loginbar"> 
                            <button type="submit">SIGN UP</button>
                       

                         </div>
                      </div>
                     <div class="col-sm-6 text-right">
                       
                            <button type="button" class="cancelbtn">Cancel</button>
                            
                        </div>
                    <div class="message text-right">
                  
                        <span class="psw">already have account <a href="#">sign in</a></span>
             
                    </div>
 
            </div>

 
        </form>

       
        </div>
        
    </div>
    
    
    
    
    
    </body>
</html>

