
    <div class="signupcontainer">
       <div class= "intro" >
         <div class="col-mod-12 text-center">
            <h1> UNIPORTAL</h1>
         </div> 
       </div>
       <div class="signuplogin">
            <div class="signupname">
                     <h4>FIRST NAME</h4>
                    <input type="text" first name="feedback" class="fname"> <br> <br>
                    <h4>LAST NAME</h4>
                    <input type="text" last name="feedback" class="lname"> <br> <br>
            </div>
            <div class="signuplowerportion">
             <div class="signupdetails">
             
                     <h4>GENDER</h4>
                    <input type="radio" name="gender" value="male">MALE <br>
                    <input type="radio" name="gender" value="female">FEMALE<br>
            </div>    
              
            <div class="signupuser">
                <h4>EMAIL</h4>
                <input type="text" placeholder="EMAIL" name="uname" required class="email">
            </div>
            <div class="signuppass">
                <h4>PASSWORD</h4>
                <input type="password" placeholder="Enter Password" name="psw" required class="password">
                <h4>Confirm Password</h4> 
                <input type="password" name="psw" placeholder="Reenter Password" required="true" class="c_password">
             </div>
 
             
             
             
            
                     <div class="col-sm-6">
                         <div class="signuploginbar"> 
                            <button type="submit" class= "signupbutton" ng-click = "getUserData()">SIGN UP</button>
                       

                         </div>
                      </div>
                     <div class="col-sm-6 ">
                       
                            <button type="button" class="signupcancelbtn">Cancel</button>
                            
                        </div>
                    <div class="signupmessage text-right">
                  
                        <span class="psw">already have account <a href="#">sign in</a></span>
             
                    </div>
 
            </div>

 

       
        </div>
        
    </div>
    
    
    
    
    


