<div class="container signinbody">
	<div class="form-group signinform">
		<input type="email" name="email" placeholder="Enter Email" class="form-control signinformemail">
		<input type="password" name="password" placeholder="Enter password" class="form-control signinformpassword">
	</div>
	<button class="btn btn-primary signinbtn" ng-click = "checkSignIn()">Sign In</button>
</div>

 <!-- <fieldset class="signin_account_info">
 <div class="signin_container">
 	<label><b>Email id </b></label>
    <input type="text" class="signin_email" placeholder="Enter Email id" name="email" required><br>
    <label><b>Password</b></label>
    <input type="password" class="signin_psw" placeholder="Enter Password" name="psw" required><br>
    <button type="submit">Login</button><br>
    <input type="checkbox" checked="checked"> Remember me<br>
 </div>
 <div class="container">
 	 <button type="button" class="signin_cancelbtn">Cancel</button>
 	 <span class="signin_psw">Forgot <a href="#">password?</a></span>
 </div>
</fieldset> -->