
   <!--  <div class="signupcontainer">
       <div class= "intro" >
         <div class="col-mod-12 text-center signupheading">
            <h1> UNIPORTAL</h1>
         </div> 
       </div>
       <div class="signuplogin">
            <div class="signupname">
                     <h4>FIRST NAME</h4>
                    <input type="text" first name="feedback" class="fname form-control"> <br> <br>
                    <h4>LAST NAME</h4>
                    <input type="text" last name="feedback" class="lname form-control"> <br> <br>
            </div>
            <div class="signuplowerportion">
             <div class="signupdetails">
             
                     <h4>GENDER</h4>
                    <input type="radio" name="gender" value="male">MALE <br>
                    <input type="radio" name="gender" value="female">FEMALE<br>
            </div>    
              
            <div class="signupuser">
                <h4>EMAIL</h4>
                <input type="text" placeholder="EMAIL" name="uname" required class="email">
            </div>
            <div class="signuppass">
                <h4>PASSWORD</h4>
                <input type="password" placeholder="Enter Password" name="psw" required class="password">
                <h4>Confirm Password</h4> 
                <input type="password" name="psw" placeholder="Reenter Password" required="true" class="c_password">
             </div>
 
             
             
             
            
                     <div class="col-sm-6">
                         <div class="signuploginbar"> 
                            <button type="submit" class= "signupbutton" ng-click = "getUserData()">SIGN UP</button>
                       

                         </div>
                      </div>
                     <div class="col-sm-6 ">
                       
                            <button type="button" class="signupcancelbtn">Cancel</button>
                            
                        </div>
                    <div class="signupmessage text-right">
                  
                        <span class="psw">already have account <a href="#">sign in</a></span>
             
                    </div>
 
            </div>

 

       
        </div>
        
    </div>
     -->
<div class="signup">
<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">UNIPORTAL</h1>
                           <div class="signupcontainer">

 
    <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-default btn-lg" id="myBtn"> SIGN UP </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header"                                                                                                      style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-off"></span> SIGN UP</h4>
        </div>
        <div class="modal-body text-left"                                                                                                      styclass="fname"le="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label  for="usrname"><span class="glyphicon glyphicon-user"></span> FIRST NAME</label><br>
              <input type="text" class="form-control fname" id="usrname" placeholder="Enter email" ><br>
            <label for="usrname"><span class="glyphicon glyphicon-user"></span> LAST NAME</label><br>
              <input type="text" class="form-control lname" id="usrname" placeholder="Enter email"><br>
               <label for="usrname"><span class="glyphicon glyphicon-user"></span> E-MAIL</label><br>
              <input type="text" class="form-control email" id="usrname" placeholder="Enter email">
              <label  for="usrname"><span class="glyphicon glyphicon-user"></span> MOBILE NUMBER</label><br>
              <input type="text" class="form-control email" id="usrname" placeholder="ENTER MOBILE NUMBER"><br>
              </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label><br>
              <input type="text" class="form-control password" id="psw" placeholder="Enter password" ><br>
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> confirm Password</label><br>
                 <input type="text" class="form-control c_password" id="psw" placeholder="Re-enter password" required="true" >
            
              
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked> Remember me</label>
            </div>
            
 
              
              
              <button type="submit" class="btn btn-success btn-block" ng-click="getUserData()"><span class="glyphicon glyphicon-off"></span> signup </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>already a member ? <a  class="log" ng-href="/#!/signin" data-dismiss="modal">Log in</a></p>
          <p>Forgot <a href="#"> Password ?</a></p>
        </div>
      </div>
      
    </div>
  </div> 
</div>
 </div>
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
    $('.log').click(function(){
      $('#myModal').modal('hide');
      $('.fade').removeClass('modal-backdrop');
    })
    $('.btn-sucess').click(function(){
      $('#myModal').modal('hide');
      $('.fade').removeClass('modal-backdrop');
    })
});
</script>

    
    


